<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>صفحه پیدا نشد</title>
    <!-- Font -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/404/style.css">
    <!-- FontAwesome (local) -->
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">


</head>
<body>

<div class="star position-absolute d-flex flex-column">
    <i class="fa fa-star fa-2x"></i>
    <i class="fa fa-star fa-2x"></i>
    <i class="fa fa-star fa-2x"></i>
    <i class="fa fa-star fa-2x"></i>
    <i class="fa fa-star fa-2x"></i>
</div>
<main class="main">

    <div class="text-404 d-inline-flex">
        <h1>4</h1>
        <h1 class="Earth"></h1>
        <h1>4</h1>
    </div>

    <span class="description d-block my-1">این صفحه مثل یک ستاره دنباله‌داره، ردش هست، خودش نیست!</span>

    <a href="/"  class="btn btn-outline-light my-3">بیا برگردیم<i class="fa fa-rocket"></i></a>

    <span id="rocket" class="rocket position-absolute"></span>
</main>

<span class="Astronaut position-absolute"></span>
<span class="Astronaut2 position-absolute"></span>

<span class="Meteorite position-absolute"></span>

</body>
</html>